{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}">
</head>
<body>

    <div class="main">

        <section class="signup">
             <img src="register/images/bg.jpg" alt="">
            <div class="container">
                <div class="signup-content">
                  <form action="{% url 'blog:register' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="username" id="username" placeholder="Your username"/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repeat your password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                          <label for="birthdate">Date of Birth</label>
                          <input type="date" class="form-input" name="birthdate" id="birthdate" placeholder="mm/dd/yyyy"/>
                      </div>
                      <div class="form-group">
                        <label>Gender</label>
                        <div>
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label>
                        </div>
                        <div>
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Female</label>
                        </div>
                        <div>
                            <input type="radio" id="other" name="gender" value="other">
                            <label for="other">Other</label>
                        </div>
                    </div>     
                    <div class="form-group">
                      <label for="avatar">Avatar</label>
                      <input type="file" class="form-input" name="avatar" id="avatar">
                    </div>                               
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                    </form>
                    <span class="loginhere">
                        Have already an account ? <a href="{% url 'blog:login' %}" class="loginhere-link">Login here</a>
                    </span>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'register/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>